:root {
  --background: #010f0f; /* main content background */
  --background-dark: #0c0c0c; /* sidebar background */
  --background-light: #292929; /* background background */
  --text: #acffcc; /* regular text */
  --light-accent: #19ff9f; /* link */
  --lighter-accent: #85ffe5; /* link hover */
  --dark-accent: #0095af; /* headers */
}

pre#leg {
  color: var(--light-accent)
}

#creds {
  font-size: 13px;
}

body {
    font-family: Monospace;
    background: var(--background);
    font-size: 14px;
    color: var(--text);
}

#content {
    width: 550px;
    height: 1000px;
    padding: 20px;
    top: 0;
    left: 0;
    position: absolute;
}


a {
    color: var(--light-accent);
    text-decoration: none;
}

a:hover {
    color: var(--lighter-accent);
}


div#collapsed {
    display: none;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

span#top {
    font-weight: bold;
}

.collapsible:after {
    content: '+';
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "-";
  }

  pre {
    margin: 0;
    font-weight: bold;
    color: var(--dark-accent);
  }

  p.header {
    margin: 0;
    font-weight: bold;
    color: var(--light-accent);
    font-family: Trebuchet MS;
    font-size: 20px;
  }

  img#dirbutton {
    content: url(images/dirbutton-teal.png);
  }

  img#randbutton {
    content: url(images/randbutton-teal.png);
  }

  img#dirbutton:hover {
    filter: brightness(1.25);
  }

  img#randbutton:hover {
    filter: brightness(1.25);
  }

  div#news {
    background: url(images/news-teal.png);
    width: 655px;
    height: 432px;
  }

  div#updates {
    width: 280px;
    height: 180px;
    padding: 5px;
    position: relative;
    top: 12%;
    left: 10%;
    overflow-y: auto;
  }

  div#styleswitcher {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    background: var(--background);
    padding: 5px;
  }

  img#notfound {
    content: url(images/notfound-teal.png)
  }

  h2 {
    margin: 0;
  }
