:root {
    --background: #010f0f; /* main content background */
    --background-dark: #0c0c0c; /* sidebar background */
    --background-light: #292929; /* background background */
    --text: #acffcc; /* regular text */
    --light-accent: #19ff9f; /* link */
    --lighter-accent: #85ffe5; /* link hover */
    --dark-accent: #0095af; /* headers */
  }

body {
    background: black;
    color: #19ff9f;
    font-family: Verdana;
    font-size: 12px;
}

a {
    color: var(--light-accent)
}

a:hover {
    color: var(--lighter-accent)
}

div#top {
    background: url(images/bg_top3.png);
    text-align: center;
    padding-top: 30px;
    max-width: 1200px;
    max-height: 367px;
    width: 80%;
    background-size: 100% 100%;
    margin: auto;
    margin-bottom: 0;
    background-repeat: no-repeat;
}

div#center {
    background: url(images/bg3.png);
    max-width: 1200px;
    max-height: 900px;
    background-repeat: no-repeat;
    margin: auto;
    width: 80%;
    height: 900px;
    background-size: 100%;
    text-align: center;
}

div#bottom {
    position: sticky;
    bottom: 1%;
    font-size: 10px;
}


img#dir {
    position: relative;
    transform: translateX(140%) translateY(-150%);
    transition: all 1s ease;
    width: 20.5%;
}

img#dir:hover {
    filter: brightness(120%);
    transform: translateX(140%) translateY(-170%);
}


img#rand {
    position: relative;
    transform: translateX(210%) translateY(-150%);
    transition: all 1s ease;
    width: 15%;
}

img#rand:hover {
    filter: brightness(120%);
    transform: translateX(210%) translateY(-170%);
}


img#logo {
    position: relative;
    width: 55%;
    z-index: 3;
    margin-bottom: 20px;
    right: 7%;
    bottom: 50px;
}

img#symbol {
    position: relative;
    z-index: 0;
    left: 27.5%;
    width: 15%;
    animation: rotate 5s linear infinite;
    animation-play-state:running;
    opacity: 70%;
}

@keyframes rotate {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

img#desk {
    position: relative;
    top: 15%;
    max-width: 836px;
    width: 66%;
}

div#bubble {
    background: black;
    height: 100px;
    width: 200px;
    padding: 10px;
    margin-bottom: 4px;
    overflow: auto;
}

span#text {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

div#speech {
    top: 14%;
    left: 15%;
    position: relative;
    display: inline-block;
}