/* 
Modify the :root color variables to make a new color scheme, preferably using hex codes. Otherwise, leave this file alone. I'd like to keep the styling decently consistent.
If you have something specific you want to add or change that requires CSS, ask me first.
*/

:root {
    --background: #070f01; /* main content background */
    --background-dark: #010800; /* sidebar background */
    --background-light: #011600; /* background background */
    --text: #dbffac; /* regular text */
    --light-accent: #44b900; /* link */
    --lighter-accent: #7ecc00; /* link hover */
    --dark-accent: #1e9400; /* headers */
  }

  /*
  DON'T EDIT BELOW THIS LINE
  */

body {
    font-family: Verdana;
    background: var(--background-light);
    font-size: 13px;
    color: var(--text);
}

a {
    color: var(--light-accent);
    text-decoration: none;
}

a:hover {
    color: var(--lighter-accent);
    font-weight: bold;
}

td#main {
    width: 50%;
    height: 100%;
    vertical-align: top;
    background: var(--background);
    padding: 20px;
}

td#sidebar {
    width: 20%;
    height: 100%;
    vertical-align: top;
    background: var(--background-dark);
}

table#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
}

p.block-header {
    background: var(--dark-accent);
    margin: 0;
    height: auto;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Trebuchet MS';
}

table.block {
    margin: 0;
    width: 100%;
    height: 1%;
    padding: 5px;
}

td.stat {
    color: var(--light-accent);
    margin: 0;
    font-weight: bold;
    width: 40%;
    vertical-align: top;
}

td.info {
    margin: 0;
    width: 60%;
    vertical-align: top;
}


img#mainpic {
    width: 100%
}

p {
    margin: 0;
}

p.header1 {
    font-size: 25px;
    font-weight: bold;
    color: var(--dark-accent);
    font-family: 'Trebuchet MS';
}

p.header2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-accent);
    font-family: 'Trebuchet MS';
}

a.uncolored {
    color: var(--dark-accent);
}

a.uncolored:hover {
    color: var(--light-accent);
}